<%= form_for @dataelement, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :originalname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :originalname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :devname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :devname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :datatype, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :datatype, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :devtable, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :devtable, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :analysistype, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :analysistype, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :format, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :format, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :in_house_formula, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :in_house_formula, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :recode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :recode, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :comments, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                dataelements_path, :class => 'btn' %>
  </div>
<% end %>
