<%= form_for @profilepage, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :vertical, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :vertical, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tab, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tab, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profilepages_path, :class => 'btn' %>
  </div>
<% end %>
