<style>
  .title {
     margin-top: 30px;
	margin-bottom:30px;
  }
</style>
<h2 class=title>Current Cases</h2>

<table class="table table-striped" border="1" cellpadding="5">
  <thead>
    <tr>
      <th><%= "Created      " %></th>
      <th><%= "Case      " %></th>
      <th><%= "Background" %></th>
    </tr>
  </thead>
  <tbody>
    <% @chores.each  do |chore| %>
      <tr>
        <td><%= "#{chore.created_at.to_date()}       " %></td>
        <td><%= "#{chore.name}        " %></td>
        <td> <%= "#{chore.background}" %></td>
      </tr>
 <% end %>
  </tbody>