

<table class="pretty">
  <thead>
    <tr>
      <th><%= "Created      " %></th>
      <th><%= "Case      " %></th>
      <th><%= "Background" %></th>
    </tr>
  </thead>
  <tbody>
    <% @chores.each do |chore| %>
      <tr>
        <td><%= "#{chore.created_at.to_date()}       " %></td>
        <td><%= "#{chore.name}        " %></td>
        <td> <%= "#{chore.background}" %></td>
      </tr>
 <% end %>
  </tbody>