<%- model_class = Product -%>
<div class="page-header">
  <h1>Category</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vertical) %>:</strong></dt>
  <dd><%= @product.vertical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inhcontact) %>:</strong></dt>
  <dd><%= @product.inhcontact %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:website) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:comments) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @product.datasources.each do |datasource| %>
      <tr>
        <td><%= link_to datasource.id, datasource_path(datasource) %></td>
        <td><%= datasource.name %></td>
        <td><%= link_to datasource.website, datasource.website %></td>
        <td><%= datasource.description %></td>
        <td><%= datasource.comments %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_datasource_path(datasource), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      datasource_path(datasource),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_datasource_path,
            :class => 'btn btn-primary' %>

